<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Notes List</title>
    <!-- responsive meta tag, agar rendering pada semua device proper -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'lab_4/css/styles.css' %}">
  </head>
  <body>

    <nav>
      <a class="active" href="/lab-4">Tabel Notes</a>
      <a href="/lab-4/note-list">Card</a>
      <a href="/lab-4/add-note">Tambah Note baru</a>
    </nav>

    <h1>List of Notes</h1>

    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- loop from Note model -->
      {% if notes %}
        {% for note in notes %}
        <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.dari }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
        </tr>
        {% endfor %}
      {% endif %}  
    </table>
  </body>
</html>
