<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Cards List</title>
    <!-- responsive meta tag, agar rendering pada semua device proper -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'lab_4/css/styles.css' %}">
  </head>
  <body>

    <nav>
      <a href="/lab-4">Tabel Notes</a>
      <a class="active" href="/lab-4/note-list">Card</a>
      <a href="/lab-4/add-note">Tambah Note baru</a>
    </nav>

    <h1>Cards of Notes</h1>
    
    <!-- loop from Note model -->
    {% if notes %}
      {% for note in notes %}
        <div class="card">
          <div class="container">
            <h2><b>To: {{ note.to }}</b></h3>
            <h3><b>From: {{ note.dari }}</b></h4>
            <h4><b>Title: {{ note.title }}</b></h5>
            <p>Message:<br> {{ note.message }}</p> 
          </div>
        </div>
      {% endfor %}
    {% endif %} 
  </body>
</html> 
