<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add a Note</title>
    <!-- responsive meta tag, agar rendering pada semua device proper -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'lab_4/css/styles.css' %}">
  </head>
  <body>

    <nav>
      <a href="/lab-4">Tabel Notes</a>
      <a href="/lab-4/note-list">Card</a>
      <a class="active" href="/lab-4/add-note">Tambah Note baru</a>
    </nav>
    
    <h1>Add a Note</h1>

    <div class="content">
      <form action="" method="POST">{% csrf_token %}
        <label for="to">To:</label><br>
        <input type="text" id="to" name="to"><br><br>
        <label for="dari">From:</label><br>
        <input type="text" id="dari" name="dari"><br><br>
        <label for="title">Judul:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="5" cols="40"></textarea><br><br>

        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>