<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add a Friend</title>
  </head>
  <body>
    <h1>Add a Friend</h1>

    <form action="" method="POST">{% csrf_token %}
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br><br>
      <label for="npm">NPM:</label><br>
      <input type="text" id="npm" name="npm"><br><br>
      <label for="DOB">Date of Birth:</label><br>
      <input type="date", id="DOB" name="DOB"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>