<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <!-- this style section is adapted from https://www.w3schools.com/html/html_tables.asp -->
    <style>
      table {
        font-family:'Times New Roman', Times, serif;
        border-collapse: separate;
        width: 70%;
      }
      
      td, th {
        border: 1px solid #a996cc;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #edeeae;
      }
      </style>
  </head>
  <body>
    <h1 style="text-align: center;">List of Friends</h1>
    <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">NPM</th>
        <th style="text-align: center;">DOB</th>
      </tr>
      <!-- loop from Friend model -->
      {% if friends %}
        {% for friend in friends %}
        <tr>
          <td>{{ friend.name }}</td>
          <td>{{ friend.npm }}</td>
          <td>{{ friend.DOB }}</td>
        </tr>
        {% endfor %}
      {% endif %}  
    </table>
  </body>
</html>
