<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <!-- the style section is adapted from https://www.w3schools.com/html/html_tables.asp -->
    <style>
      table {
        font-family:'Times New Roman', Times, serif;
        border-collapse: separate;
        width: 70%;
      }
      
      td, th {
        border: 1px solid #759784;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #c9e4ad;
      }
      </style>
  </head>
  <body>
    <h1 style="text-align: center;">List of Notes</h1>
    <table style="margin-left:auto;margin-right:auto;">
      <tr>
        <th style="text-align: center;">To</th>
        <th style="text-align: center;">From</th>
        <th style="text-align: center;">Title</th>
        <th style="text-align: center;">Message</th>
      </tr>
      <!-- loop from Note model -->
      {% if notes %}
        {% for note in notes %}
        <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.dari }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
        </tr>
        {% endfor %}
      {% endif %}  
    </table>
  </body>
</html>
