body {
  background-color: powderblue;
}

h1 {
  margin-top: 120px; /* jarak antara judul dengan navigation */
  color: blue;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  color: red;
}

/* this table design is adapted from https://www.w3schools.com/html/html_tables.asp */

table {
  font-family:'Courier New', Courier, monospace;
  border-collapse: separate; /* model block pada tabel terpisah-pisah */
  width: 70%;
  /* set posisi table menjadi center secara horizontal */
  margin-left:auto;
  margin-right:auto;
}

td, th {
  border: 1px solid #a996cc; /* tebal border || style border || warna border */
  text-align: center;
  padding: 8px; /* jarak antara content (tulisan) dengan box dari table masing2 */
}

/* design kolom genap */
tr:nth-child(even) {
  background-color: #edeeae;
}

/*design kolom ganjil*/
tr:nth-child(odd) {
  background-color: #c0c0a3;
}

input {
  border-radius: 3px; /* rounded corners */
  height: 20px; /* tinggi input box */
}

textarea {
  border-radius: 7px;
  resize: none;
}

.content {
  font-family:'Courier New', Courier, monospace;
  margin: auto; /* membuat elemen-elemen di dalam class content menjadi center */
  text-align: center;
}

/* this card design is adapted from https://www.w3schools.com/howto/howto_css_cards.asp */

.card {
  /* memberikan bayangan agar tampak seperti kartu */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; /* transisi kartu saat pindah ke Card page dari page lain  */
  width: 23%;
  border-radius: 5px; /* ujung2 kartu rounded sebesar 5px */
  display: inline-table; /* membuat object yang di create bersebelahan dengan sebelumnya */
  margin-right: 13px;
  margin-bottom: 9px;
  background-color:rgb(184, 204, 131);
}

/* Saat mouse hover di atas kartu, shadow lebih tebal */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/* padding antara text dengan kartu */
.container {
  padding: 2px 16px; /* space atas & bawah || space kiri & kanan */
}

/* this nav design is inspired from https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav {
  list-style-type: none; /* list marker */
  margin: 0;
  padding: 0;
  overflow: hidden; /* bila size content melebihi container, jadi hidden */
  background-color: rgb(35, 85, 88);
  position: fixed; /* posisi navbar fixed di atas page */
  top: 0; /* jarak dengan ujung atas page */
  left: 0; /* jarak dengan kiri page */
  width: 100%;
}

a {
  float: left; /* pada posisi top of page, navbar mengapung ke posisi kiri */
  display: block; /* menampilkan elemen sebagai block (memakan space sepanjang 1 baris) */
  color: rgb(255, 255, 255); /* font color */
  text-align: center;
  padding: 15px 16px; /* space sekitar content [15px=atas&bawah ; 16px=kiri&kanan] */
  text-decoration: none; /* tidak memberi dekorasi apapun pada text (seperti underline, dll.) */
}

/* mouse hover diatas suatu opsi nav, tapi belum di select */
a:hover:not(.active) {
  background-color: rgb(53, 65, 68);
}

/* posisi saat ini dalam page, nav terkait berubah warna */
.active {
  background-color: #13161a;
}